//added by wblacoe

.grid {
  display: flex;
}
.col {
  flex: 1;
}
.col:last-child {
  margin-left: 20px;
}

.floatleft{
  float: left;
  margin-right: 20px;
}
.floatright{
  float: right;
  margin-left: 20px;
}


//
// Tags adapted fromhttps://codepen.io/wbeeftink/pen/dIaDH
// 

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #6bf;
  border-radius: 3px 0 0 3px;
  color: #000;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: darkblue;
  color: white;
}

.tag:hover::after {
  border-left-color: darkblue;
}

/*
h1 {
  margin-bottom: 0px;
}

article.excerpt div.entry {
  color:#333333;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

article.excerpt div.entry:hover {
  background: #77ccff;
}
*/

.container {
  position:relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: .5s ease;
}

.overlay:hover {
  opacity: 1;
}

.expand {
  height: 100%;
  width: auto;
}