---
layout: default
comments: true
---

<article class="post">

<div class="post">
	<table style="width:100%;">
		<tr valign="top">
			<td>
				<h1 class="post-title">{{ page.title }}</h1>
			</td>
			<td width="160">
				<span class="post-date" style="float:right;"><i>{{ page.date | date_to_string }}</i></span>
			</td>
		</tr>
	</table>
  
  <article>
    {{ content }}
  </article>
</div>

{% if page.tags %}
<div>
{% for tag in page.tags %}
<a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="tag">{{ tag }}</a>
{% endfor %}
</div>
{% endif %}

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <span style="font-size:smaller;">({{ post.date | date_to_string }})</span>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% include disqus.html %}
</article>
